body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/background green.jpg");
}

.card {
  background:#E3ECEC;
  width:40%;
  border-radius: 15px;
  padding:2%;
  margin: 1% auto;
}

.header {
  text-align: center;
}

aside.left {
  float: left;
}

aside.right {
  text-align: left;
  float: right;
}
