<div id="card_display">	
		


	


</div>

<div id ="userInput">
<form action="/<%=@deck.user_id%>/<%=@deck.id %>" method="post">
	<input type="text" name="answer">
	<input type="submit" value="submit">
</form>