<h1>Welcome to Park Humper Flash Cards</h1>

<form action="/user" method='post'>
  <input value="username" name="user_input" type="text">
  <input type="submit" value="submit user">
</form>

<form action="/create" method='post'>
  <input value='username' name='user_name' type='text'>
  <input name="user_password" type="password">
  <input value='create!' type="submit">
</form>
